.likedPokemonGridContainer {
  width: 100%;
  text-align: center;
  color: var(--text-light);
  transition: color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.dark-mode .likedPokemonGridContainer {
  color: var(--text-dark);
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.likedPokemonGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background: var(--card-background-light);
  transition: background 0.3s, border-color 0.3s, color 0.3s;
}

body.dark-mode .likedPokemonGrid {
  background: var(--card-background-dark);
  border-color: #888;
  color: var(--text-dark);
}

.pokemonItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--card-background-light);
  border: 2px solid #ccc;
  border-radius: 10px;
  transition: background 0.3s, border-color 0.3s, color 0.3s;
  padding: 10px;
  width: 150px;
  height: 150px;
  color: var(--text-color-light);
}

body.dark-mode .pokemonItem {
  background: var(--card-background-dark);
  border-color: #888;
  color: var(--text-dark);
}

.pokemonImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.pokemonName {
  margin-top: 10px;
  font-size: 16px;
  color: var(--text-color-light);
  transition: color 0.3s;
  text-align: center;
}

body.dark-mode .pokemonName {
  color: var(--text-dark);
}
