/* PokemonCard.module.css */

.card {
  width: 350px;
  height: 400px;
  background: var(--card-background-light);
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background 0.3s, border-color 0.3s, color 0.3s;
  color: var(--text-color-light);
}

.dark-mode .card {
  border-color: #888;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.details {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.abilities, .types {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.typeBox {
  background-color: var(--type-box-background-light);
  color: white;
  padding: 7px;
  border-radius: 5px;
  font-size: 14px;
}

.abilityBox {
  background-color: var(--ability-box-background);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}

.dark-mode .typeBox {
  background-color: var(--type-box-background-dark);
  color: var(--button-text-color-dark); /* Change text color to white in dark mode */
}

.dark-mode .abilityBox {
  background-color: var(--ability-box-background); /* Ensure the background color is set */
  color: var(--button-text-color-dark); /* Change text color to white in dark mode */
}


.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
  padding: 0 10px;
}

.likeButton, .dislikeButton {
  width: 45%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
  color: white
}

.likeButton {
  background-color: var(--like-button-background-light);
  color: var(--text-color-light);

}

.dislikeButton {
  background-color: var(--dislike-button-background-light);
  color: var(--text-color-light);
}


.dark-mode .likeButton, 
.dark-mode .dislikeButton {
  color: var(--button-text-color-dark);
}
