.welcomeCard {
  width: 350px;
  padding: 20px;
  background: var(--card-background-light);
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, border-color 0.3s, color 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-light);
}

.dark-mode .welcomeCard {
  background: var(--card-background-dark);
  border-color: #888;
  color: var(--text-dark);
}

.instructions {
  margin-bottom: 20px;
}

.startButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
